:root {
  background: #ffffff;
  color: #0a3d62;
  --nav-background: #ffffff;
  --brand-color: #0a3d62;
  --text: #9A9EA2;
  --heading: #565656;
  --price: #b11e23;
  --border: #e2e2e2;
  --delivery-date: #535c68;
  --shopping-cart-title: #eff7fd;
  --shopping-cart-border: #aac6db;
  --shopping-cart-amount:#bcdffa;
}